.contact-page {
  padding: 15px 40px 0px 40px; }

.contact-form {
  padding: 0px 15px 0 15px;
  width: 50%; }

.contact-items {
  display: flex;
  flex-direction: row;
  display: flex;
  flex-direction: row;
  margin-bottom: 15px; }
  .contact-items__item {
    width: 100%;
    display: flex; }

.radio-item {
  display: flex;
  flex-direction: row;
  margin-left: 17px; }

.radio-name {
  margin-left: -20px; }

.msg {
  color: red; }
