@import '../variables.scss';

.tile-width {
  padding: 15px 10px 0px 10px;
  width: 25%;
  margin-right: 3%;
  @media screen and (max-width: $breakpoint-large) {
    width: 46%;
    margin-right: 2%;
    margin-bottom: 2%;
  }
  @media screen and (max-width: $breakpoint-small) {
    width: 50%;
    margin: auto;
    margin-bottom: 3%;
    &:nth-child(2) {
      margin: auto;
      margin-bottom: 3%;
    }
    &:nth-child(3) {
      margin: auto;
      margin-bottom: 4%;
    }
  }
}
