.button {
  border-radius: 3px;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  letter-spacing: 0.03em;
  padding: 5px 15px;
  font-size: 13px;
  line-height: 1.57143;
  border-color: transparent;
  border-width: 1px;
  border-style: solid; }
  .button--active {
    background: #33a723;
    color: #fff; }
