.button {
  border-radius: 3px;
  font-weight: 600;
  text-align: center;
  font-family: SansMedium, "Signika Negative", Helvetica, Arial, sans-serif !important;
  cursor: pointer;
  letter-spacing: 0.03em;
  padding: 5px 25px;
  font-size: 13px;
  line-height: 1.57143;
  border-color: transparent;
  border-width: 1px;
  border-style: solid; }
  .button--active {
    background: #003594;
    color: #fff; }
  .button:disabled {
    cursor: pointer; }
