@import '../../../variables.scss';

.react-slider__wrapper {
  width: 100%;
  margin-top: 2rem;
  margin-left: 10%;
  @media screen and (max-width: $breakpoint-large) {
    width: 90%;
    padding-top: 40px;
    padding-bottom: 30px;
    margin: auto;
  }

  .react-slider {
    box-shadow: none;
    background: $white;
    height: 10px;
    border: 1px solid $lighter-gray;
    border-radius: 3px;
    .rangeslider-horizontal {
      height: 10px;
    }

    .rangeslider__handle {
      background: $light-blue;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      outline: none;
      width: 35px;
      height: 35px;
      &:after {
        display: none;
      }
      &:before {
        font-family: 'Glyphicons Halflings';
        content: '\e178';
        line-height: 35px;
        color: $white;
      }
      &:hover {
        outline: 0px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        transform: translate3d(-50%, -50%, 0) scale(1.1);
      }
      &:active {
        border: 1px solid rgb(0, 62, 255);
      }
    }

    .rangeslider__fill {
      background: $white;
      border-radius: 0;
      height: 8px;
      box-shadow: none;
    }

    &__labels-wrapper {
      display: flex;
      justify-content: space-between;
    }
    &__labels {
      color: $black;
      font-size: 12px;
    }
  }
}

.slider-input {
  margin-left: auto;
  width: 300px;
  margin-right: 15%;
  overflow: hidden;
  &:focus {
    overflow: visible;
  }
  @media screen and (max-width: $breakpoint-large) {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
  @media screen and (max-width: $breakpoint-medium) {
    display: flex;
    flex-direction: column;
    width: 92%;
    margin-left: 4%;
    margin-right: 4%;
  }
  @media screen and (max-width: $breakpoint-small) {
    width: 92%;
    margin-left: 4%;
    margin-right: 4%;
  }

  .input-group-addon {
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    border-radius: 0;
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
    display: table-cell;
    background-color: $medium-blue;
    border: 1px solid $medium-blue;
    color: $white;
    position: relative;
    padding: 12px 20px;
    @media screen and (max-width: $breakpoint-medium) {
      width: 100%;
      display: block;
      font-size: 13px;
      line-height: 15px;
      padding: 5px;
      &:last-child {
        display: block;
        position: absolute;
        top: 27px;
        height: 40px;
        right: 0;
        width: auto;
        padding: 9px;
        box-sizing: border-box;
        line-height: 22px;
        font-size: 15px;
        background-color: transparent;
        border: none;
        color: $darkest-gray;
        z-index: 10;
      }
    }
    &::after {
      border-color: rgba(41, 73, 123, 0) rgba(41, 73, 123, 0) rgba(41, 73, 123, 0) $medium-blue;
      border-image: none;
      border-style: solid;
      border-width: 10px;
      content: ' ';
      height: 0;
      left: 100%;
      margin-top: -10px;
      pointer-events: none;
      position: absolute;
      top: 50%;
      width: 0;
      z-index: 10;
      @media screen and (max-width: $breakpoint-medium) {
        margin-top: auto;
        margin-left: -10px;
        top: auto;
        left: 50%;
        bottom: -20px;
        border-color: $medium-blue rgba(41, 73, 123, 0) rgba(41, 73, 123, 0);
      }
    }
  }
  .range-control-output {
    border: 1px solid $medium-blue !important;
    padding: 9px;
    min-width: 100px;
    height: 40px;
    text-align: center;
  }
}
