.tile {
  padding: 15px 15px 0px 15px;
  height: 180px;
  width: 25%;
  border: 3px solid #257eb8;
  border-radius: 3px;
  margin-right: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  &:hover,
  &.active {
    border: 3px solid #33a723;
  }
  &:hover .tile__title {
    color: #2780ba;
  }
  &.active .tile_title {
    color: #2780ba;
  }

  &:nth-child(4) {
    margin-right: 0;
  }
  &__title {
    font-size: 14px;
    font-weight: 700;
    padding: 20px 5px 10px 5px;
  }
}
