// colors
$white: #fff;
$dark-white-gray: #ddd;
$medium-white-gray: #d9e8f3;
$light-white-gray: #f5f5f5;
$light-gray-white: #e0e0e0;
$medium-gray-white: #64666a;
$darkest-gray: #64666a;
$darker-gray: #64666a;
$dark-gray: #64666a;
$medium-gray: #64666a;
$light-gray: #64666a;
$lighter-gray: #64666a;
$red: #ff0000;
$light-red: #ff7171;
$lighter-red: #ffa6a6;
$orange-red: #c53925;
$medium-blue: #003594;
$light-blue: #003594;
$blue: #003594;
$light-yellow: #faffbd;
$black: #3d3934;
$light-green: #01bd00;
$green: #33a723;

$pantone-black: #3d3934;
$pantone-blue: #003594;
$pantone-cool-gray: #64666a;

// breakpoints
$breakpoint-large: 991px;
$breakpoint-medium: 767px;
$breakpoint-small: 450px;
$breakpoint-sx: 400px;
