* {
  box-sizing: border-box; }

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input[type='radio'] {
  position: absolute;
  top: 15px;
  left: 10px;
  height: 0;
  width: 0;
  z-index: -1;
  visibility: hidden; }

.radiobtn {
  border-radius: 100%;
  height: 20px;
  width: 20px;
  position: relative;
  cursor: pointer;
  background-color: #d9e8f3;
  border: 2px solid #257db8; }
  .radiobtn:before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 100%;
    background-color: transparent;
    height: 12px;
    width: 12px; }
  .radiobtn.checked:before {
    background-color: #257db8; }

@font-face {
  font-family: 'Icons';
  src: url("./fonts//iv-icons.woff") format("woff"); }

[class*=' icon-']:before,
[class^='icon-']:before,
[data-icon]:before {
  font-family: Icons !important;
  font-weight: 400 !important;
  font-variant: normal !important;
  text-transform: none !important;
  line-height: 1;
  font-style: normal !important;
  speak: none; }

button,
input,
select,
textarea {
  outline: none; }

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ccc;
  opacity: 1;
  /* Firefox */ }

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #ccc; }

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #ccc; }

.required-asterisk {
  color: #ff7171;
  margin-left: 3px;
  font-weight: 100; }

body {
  font-size: 15px;
  line-height: 1.46667;
  text-align: center;
  color: #6a6a6a;
  background-color: #fff;
  font-weight: 300;
  font-family: 'Signika Negative', Helvetica, Arial, sans-serif !important; }

li {
  list-style: none; }

.checkbox-wrapper {
  display: flex; }
  .checkbox-wrapper input {
    width: 30px;
    height: 12px;
    cursor: pointer; }

.app {
  max-width: 100%;
  margin: auto;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); }
  .app__header {
    color: #333;
    background-color: #f5f5f5;
    padding: 10px 15px;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-top-left-radius: 0;
    border-top-right-radius: 0; }
  .app__title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1; }

.icon {
  background: url(/images/icons4.png) no-repeat;
  background-size: auto;
  background-repeat: no-repeat;
  display: inline-block;
  width: 90px;
  height: 91px; }
  .icon.slider-image {
    margin-left: 5%; }
  .icon.icon--wohnung {
    background-position: 0 0; }
  .icon.icon--haus {
    background-position: 0 -90px; }
  .icon.icon--grundstueck {
    background-position: 0 -450px; }
  .icon.icon--gewerbe {
    background-position: 0 -540px; }
  .icon.icon--status-selbst {
    background-position: 0 -3330px; }
  .icon.icon--status-frei {
    background-position: 0 -2070px; }
  .icon.icon--status-vermietet {
    background-position: 0 -3240px; }
  .icon.icon--status-teilweise {
    background-position: 0 -3600px; }
  .icon.icon--renovierungsbeduerftig {
    background-position: 0 -1800px; }
  .icon.icon--gepflegt {
    background-position: 0 -1890px; }
  .icon.icon--neuwertig {
    background-position: 0 -1980px; }
  .icon.icon--balkon {
    background-position: 0 -2610px; }
  .icon.icon--haus {
    background-position: 0 -90px; }
  .icon.icon--mehrfamilienhaus {
    background-position: 0 -360px; }
  .icon.icon--reihenhaus {
    background-position: 0 -270px; }
  .icon.icon--doppelhaus {
    background-position: 0 -180px; }
  .icon.icon--baugrundstueck {
    background-position: 0 -3060px; }
  .icon.icon--bauerwartungsland {
    background-position: 0 -1170px; }
  .icon.icon--gewerbegrundstueck {
    background-position: 0 -4770px; }
  .icon.icon--agrarflaeche {
    background-position: 0 -1080px; }
  .icon.icon--bebaubar-kurzfristig {
    background-position: 0 -1080px; }
  .icon.icon--bebaubar-eingeschraenkt {
    background-position: 0 -4140px; }
  .icon.icon--bebaubar-nicht {
    background-position: 0 -4230px; }
  .icon.icon--bebaubar-unbekannt {
    background-position: 0 -1170px; }
  .icon.icon--buero {
    background-position: 0 -4500px; }
  .icon.icon--gastgewerbe {
    background-position: 0 -4590px; }
    @media screen and (max-width: 991px) {
      .icon.icon--gastgewerbe {
        display: none; } }
  .icon.icon--fabrik {
    background-position: 0 -540px; }
  .icon.icon--hotel {
    background-position: 0 -4680px; }
  .icon.icon--at {
    background-position: 0 -3150px;
    margin-left: 45px;
    margin-right: 45px;
    width: 142px; }
  .icon.icon--nettomiete {
    background-position: 0 -3240px;
    width: 130px; }
  .icon.icon--wohnflaeche {
    background-position: 0 -2970px;
    width: 137px; }
    @media screen and (max-width: 991px) {
      .icon.icon--wohnflaeche {
        display: none; } }
  .icon.icon--grundstuecksgroesse {
    background-position: 0 -1170px;
    width: 130px; }
  .icon.icon--baujahr {
    background-position: 0 -3060px;
    width: 140px; }
    @media screen and (max-width: 991px) {
      .icon.icon--baujahr {
        display: none; } }
  .icon.icon--gewerbeflaeche {
    background-position: 0 -4770px;
    width: 140px; }
  .icon.glyphicon-send {
    content: '\e171';
    font-family: 'Glyphicons Halflings'; }

.star {
  color: #ff7171;
  margin-left: 3px;
  font-weight: 100; }

.tiles-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 15px 40px 0px 40px; }
  @media screen and (max-width: 991px) {
    .tiles-wrapper {
      padding: 15px 40px 0px 40px;
      flex-wrap: wrap; } }
  @media screen and (max-width: 767px) {
    .tiles-wrapper {
      padding: 15px 10px 0px 10px;
      flex-wrap: wrap; } }

.tile-wrapper--modifier {
  justify-content: center; }

.slider__flex-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start; }

.visibility {
  display: none; }

.progressBar-width {
  width: 10%; }

.directinput-note {
  text-align: center;
  color: #000;
  font-weight: 400; }

.bulb {
  margin-left: 39%; }
  .bulb:before {
    font-family: 'iv-icons';
    content: '\66';
    line-height: 1;
    font-weight: 400; }
  @media screen and (max-width: 991px) {
    .bulb {
      margin-left: 0; } }
