/* Start css reset*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* End css reset */

@import './variables.scss';

* {
  box-sizing: border-box;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='radio'] {
  position: absolute;
  top: 15px;
  left: 10px;
  height: 0;
  width: 0;
  z-index: -1;
  visibility: hidden;
}

.radiobtn {
  border-radius: 100%;
  height: 20px;
  width: 20px;
  position: relative;
  cursor: pointer;
  background-color: $medium-white-gray;
  border: 2px solid $medium-blue;
  &:before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 100%;
    background-color: transparent;
    height: 12px;
    width: 12px;
  }
  &.checked:before {
    background-color: $medium-blue;
  }
}

@font-face {
  font-family: 'Icons';
  src: url('./fonts//iv-icons.woff') format('woff');
}

[class*=' icon-']:before,
[class^='icon-']:before,
[data-icon]:before {
  font-family: Icons !important;
  font-weight: 400 !important;
  font-variant: normal !important;
  text-transform: none !important;
  line-height: 1;
  font-style: normal !important;
}

button,
input,
select,
textarea {
  outline: none;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $light-gray;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: $light-gray;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: $light-gray;
}

.required-asterisk {
  color: $light-red;
  margin-left: 3px;
  font-weight: 100;
}

body {
  font-size: 15px;
  line-height: 1.46667;
  text-align: center;
  color: $medium-gray;
  background-color: $white;
  font-weight: 300;
  font-family: 'Signika Negative', Helvetica, Arial, sans-serif !important;
}

li {
  list-style: none;
}

.checkbox-wrapper {
  display: flex;
  input {
    width: 30px;
    height: 12px;
    cursor: pointer;
  }
}

.app {
  max-width: 100%;
  margin: auto;
  background-color: $white;
  border: 1px solid $dark-white-gray;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  &__header {
    color: $dark-gray;
    background-color: $light-white-gray;
    padding: 10px 15px;
    border-bottom: 1px solid $dark-white-gray;
    border-left: 1px solid $dark-white-gray;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  &__title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
  }
}

.icon {
  background: url(/images/icons4.png) no-repeat;
  background-size: auto;
  background-repeat: no-repeat;
  display: inline-block;
  width: 90px;
  height: 91px;

  &.slider-image {
    margin-left: 5%;
  }

  &.icon--wohnung {
    background-position: 0 0;
  }

  &.icon--haus {
    background-position: 0 -90px;
  }

  &.icon--grundstueck {
    background-position: 0 -450px;
  }

  &.icon--gewerbe {
    background-position: 0 -540px;
  }

  &.icon--status-selbst {
    background-position: 0 -3330px;
  }

  &.icon--status-frei {
    background-position: 0 -2070px;
  }

  &.icon--status-vermietet {
    background-position: 0 -3240px;
  }

  &.icon--status-teilweise {
    background-position: 0 -3600px;
  }
  &.icon--renovierungsbeduerftig {
    background-position: 0 -1800px;
  }
  &.icon--gepflegt {
    background-position: 0 -1890px;
  }
  &.icon--neuwertig {
    background-position: 0 -1980px;
  }
  &.icon--balkon {
    background-position: 0 -2610px;
  }
  &.icon--haus {
    background-position: 0 -90px;
  }
  &.icon--mehrfamilienhaus {
    background-position: 0 -360px;
  }
  &.icon--reihenhaus {
    background-position: 0 -270px;
  }
  &.icon--doppelhaus {
    background-position: 0 -180px;
  }
  &.icon--baugrundstueck {
    background-position: 0 -3060px;
  }
  &.icon--bauerwartungsland {
    background-position: 0 -1170px;
  }
  &.icon--gewerbegrundstueck {
    background-position: 0 -4770px;
  }
  &.icon--agrarflaeche {
    background-position: 0 -1080px;
  }
  &.icon--bebaubar-kurzfristig {
    background-position: 0 -1080px;
  }
  &.icon--bebaubar-eingeschraenkt {
    background-position: 0 -4140px;
  }
  &.icon--bebaubar-nicht {
    background-position: 0 -4230px;
  }
  &.icon--bebaubar-unbekannt {
    background-position: 0 -1170px;
  }
  &.icon--buero {
    background-position: 0 -4500px;
  }
  &.icon--gastgewerbe {
    background-position: 0 -4590px;
  }
  &.icon--fabrik {
    background-position: 0 -540px;
  }
  &.icon--hotel {
    background-position: 0 -4680px;
  }
  &.icon--at {
    background-position: 0 -3150px;
    margin-left: 45px;
    margin-right: 45px;
    width: 142px;
    @media screen and (max-width: $breakpoint-medium) {
      margin-bottom: 2%;
    }
  }

  &.icon--nettomiete {
    background-position: 0 -3240px;
    width: 130px;
    @media screen and (max-width: $breakpoint-large) {
      display: none;
    }
  }
  &.icon--wohnflaeche {
    background-position: 0 -2970px;
    width: 137px;
    @media screen and (max-width: $breakpoint-large) {
      display: none;
    }
  }
  &.icon--grundstuecksgroesse {
    background-position: 0 -1170px;
    width: 130px;
    @media screen and (max-width: $breakpoint-large) {
      display: none;
    }
  }
  &.icon--baujahr {
    background-position: 0 -3060px;
    width: 140px;
    @media screen and (max-width: $breakpoint-large) {
      display: none;
    }
  }
  &.icon--gewerbeflaeche {
    background-position: 0 -4770px;
    width: 140px;
    @media screen and (max-width: $breakpoint-large) {
      display: none;
    }
  }

  &.glyphicon-send {
    content: '\e171';
    font-family: 'Glyphicons Halflings';
    @media screen and (max-width: $breakpoint-small) {
      display: none;
    }
  }
}

.star {
  color: $light-red;
  margin-left: 3px;
  font-weight: 100;
}

.tiles-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 15px 40px 0px 40px;
  @media screen and (max-width: $breakpoint-large) {
    padding: 2% 5% 0 5%;
    flex-wrap: wrap;
  }
  @media screen and (max-width: $breakpoint-medium) {
    padding: 2% 4% 0 4%;
    flex-wrap: wrap;
  }
  @media screen and (max-width: $breakpoint-small) {
    padding: 4% 4% 0% 4%;
  }
  @media screen and (max-width: $breakpoint-sx) {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 5%;
  }
}

.tile-wrapper--modifier {
  justify-content: center;
  @media screen and (max-width: $breakpoint-small) {
    display: block;
  }
}

.slider__flex-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
}

.visibility {
  display: none;
}

.progressBar-width {
  width: 10%;
}

.directinput-note {
  text-align: center;
  color: $black;
  font-weight: 400;
}

.bulb {
  margin-left: 39%;
  &:before {
    font-family: 'iv-icons';
    content: '\66';
    line-height: 1;
    font-weight: 400;
  }
  @media screen and (max-width: $breakpoint-large) {
    margin-left: 0;
  }
}
