* {
  box-sizing: border-box;
}

body {
  // max-width: 1000px;
  // max-height: 500px;
  // text-align: center;
  // font-size: 15px;
  // line-height: 1.46667;
  // color: #6a6a6a;
  // background-color: #fff;
  // font-weight: 300;
  // font-family: 'Signika Negative', Helvetica, Arial, sans-serif;
  // border: 1px solid #ddd;
  // border-radius: 4px;
  // box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);

  font-size: 15px;
  line-height: 1.46667;
  text-align: center;
  color: #6a6a6a;
  background-color: #fff;
  font-weight: 300;
  font-family: 'Signika Negative', Helvetica, Arial, sans-serif;
}
.app {
  max-width: 1000px;
  max-height: 500px;
  margin: auto;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  &__header {
    color: #333;
    background-color: #f5f5f5;
    padding: 10px 15px;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  &__title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
  }
}
.icon {
  background: url(/images/icons4.png) no-repeat;
  background-size: auto;
  background-repeat: no-repeat;
  display: inline-block;
  width: 90px;
  height: 91px;

  &.icon--wohnung {
    background-position: 0 0;
  }

  &.icon--haus {
    background-position: 0 -90px;
  }

  &.icon--grundstueck {
    background-position: 0 -450px;
  }

  &.icon--gewerbe {
    background-position: 0 -540px;
  }

  &.icon--status-selbst {
    background-position: 0 -3330px;
  }

  &.icon--status-frei {
    background-position: 0 -2070px;
  }

  &.icon--status-vermietet {
    background-position: 0 -3240px;
  }

  &.icon--status-teilweise {
    background-position: 0 -3600px;
  }
  &.icon--renovierungsbeduerftig {
    background-position: 0 -1800px;
  }
  &.icon--gepflegt {
    background-position: 0 -1890px;
  }
  &.icon--neuwertig {
    background-position: 0 -1980px;
  }
}

.tiles-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 15px 40px 0px 40px;
}

.tile-wrapper--modifier {
  justify-content: center;
}
