/* Start css reset*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* End css reset */

@import "./variables.scss";
@font-face {
  font-family: "Icons";
  src: url("./fonts//iv-icons.woff") format("woff");
}

@font-face {
  font-family: "SansRegular";
  src: url("/fonts/EncodeSansSemiExpanded-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "SansLight";
  src: url("/fonts/EncodeSansSemiExpanded-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: "SansMedium";
  src: url("/fonts/EncodeSansSemiExpanded-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "SansBold";
  src: url("/fonts/EncodeSansSemiExpanded-SemiBold.ttf") format("truetype");
}

* {
  box-sizing: border-box;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="radio"] {
  position: absolute;
  top: 15px;
  left: 10px;
  height: 0;
  width: 0;
  z-index: -1;
  visibility: hidden;
}

.radiobtn {
  border-radius: 100%;
  height: 20px;
  width: 20px;
  position: relative;
  cursor: pointer;
  background-color: $medium-white-gray;
  border: 2px solid $medium-blue;
  &:before {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 100%;
    background-color: transparent;
    height: 12px;
    width: 12px;
  }
  &.checked:before {
    background-color: $medium-blue;
  }
}

[class*=" icon-"]:before,
[class^="icon-"]:before,
[data-icon]:before {
  font-family: Icons !important;
  font-weight: 400 !important;
  font-variant: normal !important;
  text-transform: none !important;
  line-height: 1;
  font-style: normal !important;
}

button,
input,
select,
textarea {
  outline: none;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $light-gray;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: $light-gray;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: $light-gray;
}

.required-asterisk {
  color: $light-red;
  margin-left: 3px;
  font-weight: 100;
}

body {
  font-size: 15px;
  line-height: 1.46667;
  text-align: center;
  color: $medium-gray;
  background-color: $white;
  font-weight: 300;
  font-family: SansRegular, "Signika Negative", Helvetica, Arial, sans-serif !important;
}

li {
  list-style: none;
}

.checkbox-wrapper {
  display: flex;
  input {
    min-width: 1rem;
    max-width: 1rem;
    height: 1rem;
    cursor: pointer;
  }
}

.app {
  max-width: 100%;
  overflow: hidden;
  margin: auto;
  background-color: $white;
  border: 1px solid $dark-white-gray;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  &__header {
    color: $dark-gray;
    background-color: $light-white-gray;
    padding: 10px 15px;
    border-bottom: 1px solid $dark-white-gray;
    border-left: 1px solid $dark-white-gray;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  &__title {
    font-family: SansBold, "Signika Negative", Helvetica, Arial, sans-serif !important;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
  }
}

.icon {
  background-repeat: no-repeat;
  display: inline-block;
  width: 90px;
  height: 91px;
  background-size: cover;

  &.icon--wohnung {
    background-image: url(/icons/Wohnung.svg);
  }
  &.icon--haus {
    background-image: url(/icons/Haus.svg);
  }
  &.icon--grundstueck {
    background-image: url(/icons/Grundstück.svg);
    width: 105px;
  }
  &.icon--gewerbe {
    background-image: url(/icons/Gewerbe.svg);
  }
  &.icon--status-selbst {
    background-image: url(/icons/SelbstBewohnt.svg);
    width: 99px;
  }
  &.icon--status-frei {
    background-image: url(/icons/Leerstehend.svg);
    width: 99px;
  }
  &.icon--status-vermietet {
    background-image: url(/icons/Vermietet.svg);
    width: 99px;
  }
  &.icon--status-teilweise {
    width: 99px;
    background-image: url(/icons/Teilvermietet.svg);
  }
  &.icon--renovierungsbeduerftig {
    background-image: url(/icons/Sanierungsbedürftigt.svg);
    height: 104px;
  }
  &.icon--gepflegt {
    background-image: url(/icons/Gepflegt.svg);
    height: 104px;
  }
  &.icon--neuwertig {
    background-image: url(/icons/Neu.svg);
    height: 104px;
  }
  &.icon--balkon {
    background-image: url(/icons/balkon.svg);
  }
  &.icon--Terrasse {
    background-image: url(/icons/terasse.svg);
    width: 100px;
    height: 84px;
  }
  &.icon--balkonTerrasse {
    background-image: url(/icons/balkonAndTerasse.svg);
    width: 97px;
  }
  &.icon--keinbalkonTerrasse {
    background-image: url(/icons/keinbalkonTerrasse.svg);
  }
  &.icon--einfamilienhaus {
    background-image: url(/icons/Einfamilienhaus.png);
  }
  &.icon--mehrfamilienhaus {
    background-image: url(/icons/Mehrfamilienhaus.png);
  }
  &.icon--reihenhaus {
    background-image: url(/icons/Reihenhaus.png);
  }
  &.icon--doppelhaus {
    background-image: url(/icons/Dobbelhaushälfte.png);
  }
  &.icon--baugrundstueck {
    background-image: url(/icons/Baugrundstuck.png);
  }
  &.icon--bauerwartungsland {
    background-image: url(/icons/Bauerwartungsland.png);
  }
  &.icon--gewerbegrundstueck {
    background-image: url(/icons/Gewerbegrundstuck.png);
  }
  &.icon--agrarflaeche {
    background-image: url(/icons/Agrarflache.png);
  }
  &.icon--bebaubar-kurzfristig {
    background-image: url(/icons/Eigentum.png);
  }
  &.icon--bebaubar-eingeschraenkt {
    background-image: url(/icons/Pacht.png);
  }
  &.icon--bebaubar-eingeschraenkt2 {
    background-image: url(/icons/EingeschranktBebaubar.png);
  }
  &.icon--sofort-bebaubar {
    background-image: url(/icons/SofortBebaubar.png);
  }
  &.icon--bebaubar-nicht {
    background-image: url(/icons/NichtBebaubar.png);
  }
  &.icon--bebaubar-unbekannt {
    background-image: url(/icons/Unbekannt.png);
  }
  &.icon--buero {
    background-image: url(/icons/Büro.png);
  }
  &.icon--gastgewerbe {
    background-image: url(/icons/Gastgewerbe.png);
  }
  &.icon--fabrik {
    background-image: url(/icons/Fabrik.png);
  }
  &.icon--hotel {
    background-image: url(/icons/Hotel.png);
  }
  &.icon--at {
    background-image: url(/icons/glass.png);
    margin-left: 45px;
    margin-right: 45px;
    width: 142px;
    @media screen and (max-width: $breakpoint-medium) {
      margin-bottom: 2%;
    }
  }

  &.icon--nettomiete {
    background-position: 0 -3240px;
    width: 130px;
    @media screen and (max-width: $breakpoint-large) {
      display: none;
    }
  }
  &.icon--wohnflaeche {
    background-image: url(/icons/wohnflaeche.svg);
    height: 102px;
    width: 137px;
    @media screen and (max-width: $breakpoint-large) {
      display: none;
    }
  }
  &.icon--grundstuecksgroesse {
    background-image: url(/icons/FlacheGrundstücks.png);
    width: 130px;
    @media screen and (max-width: $breakpoint-large) {
      display: none;
    }
  }
  &.icon--baujahr {
    background-position: 0 -3060px;
    width: 140px;
    @media screen and (max-width: $breakpoint-large) {
      display: none;
    }
  }
  &.icon--gewerbeflaeche {
    background-image: url(/icons/area.svg);
    width: 140px;
    height: 104px;
    @media screen and (max-width: $breakpoint-large) {
      display: none;
    }
  }

  &.slider-image {
    margin-left: 5%;
  }

  &.glyphicon-send {
    content: "\e171";
    font-family: "Glyphicons Halflings";
    @media screen and (max-width: $breakpoint-small) {
      display: none;
    }
  }
}

.star {
  color: $light-red;
  margin-left: 3px;
  font-weight: 100;
}

.tiles-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 15px 40px 0px 40px;
  @media screen and (max-width: $breakpoint-large) {
    padding: 2% 5% 0 5%;
    flex-wrap: wrap;
  }
  @media screen and (max-width: $breakpoint-medium) {
    padding: 2% 4% 0 4%;
    flex-wrap: wrap;
  }
  @media screen and (max-width: $breakpoint-small) {
    padding: 4% 4% 0% 4%;
  }
  @media screen and (max-width: $breakpoint-sx) {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 5%;
  }
}

.tile-wrapper--modifier {
  justify-content: center;
  @media screen and (max-width: $breakpoint-small) {
    display: block;
  }
}

.slider__flex-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.visibility {
  display: none;
}

.progressBar-width {
  width: 10%;
}

.directinput-note {
  text-align: center;
  color: $black;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 3px;
}

.bulb {
  display: flex;
  justify-content: flex-end;
  margin-right: 20%;
  &:before {
    font-family: "iv-icons";
    content: "\66";
    line-height: 1;
    font-weight: 400;
  }
  @media screen and (max-width: $breakpoint-large) {
    margin-left: 0;
    margin-right: 0;
    justify-content: center;
  }
}
