@import "../../../variables.scss";

.footer {
  display: flex;
  align-items: center;
  background-color: $light-white-gray;
  border-top: 1px solid $dark-white-gray;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  min-height: 50px;
  padding: 0 40px;
  @media screen and (max-width: $breakpoint-large) {
    padding: 0 5%;
  }
  @media screen and (max-width: $breakpoint-medium) {
    padding: 0 4%;
  }

  &__btn-prev {
    background: $light-gray-white;
    border: none;
    color: $white;
    border-radius: 3px;
    outline: none;
    &.active {
      background: $pantone-blue;
      color: $white;
    }
  }

  &__btn-next {
    background: $light-gray-white;
    color: $medium-gray-white;
    box-shadow: 2px 2px 0 0 $darker-gray;
    margin-left: auto;
    outline: none;
    &.active {
      background: $pantone-blue;
      color: $white;
    }
  }

  &__subtitle {
    margin-left: 20px;
    display: none;
  }
  &__subtitle--modifier {
    display: block;
  }
}
